* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* header index*/
.header-index {
  background-color: #221333; }

.red-social__index {
  margin-top: -110px;
  float: right; }
  .red-social__index img {
    width: 100px;
    padding: 20px;
    transition: .7s; }
    .red-social__index img:hover {
      width: 130px; }

.titulo__index h1 {
  text-align: center;
  color: #fff; }

/*header Galeria */
.galeria__header {
  background-color: #5000ca; }

/*header Formulario */
.topnav__form, .topnav__resto {
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 50px; }

/*header Resto */
.topnav__resto a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem; }
  .topnav__resto a:hover {
    background-color: #ddd;
    color: black; }

.topnav__resto a.active__resto {
  background-color: #02423a;
  color: white; }

.textos-header__resto {
  text-align: center; }

/*header Menu Resto */
.topnav__menu {
  background-color: transparent;
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  .topnav__menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 1.2rem; }
    .topnav__menu a:hover {
      background-color: #ddd;
      color: black; }
  .topnav__menu a.active {
    background-color: orangered;
    color: #fff; }
  .topnav__menu .titulo__menu {
    text-align: center; }

/* body index*/
.img-index img {
  width: 100%;
  margin-top: -8px; }

/*body galeria */
.body__galeria {
  background-color: #ffc107; }

/*body Formulario */
.body__form {
  background: #181818;
  color: #fff;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5em; }

/*body Restaurante */
.body__resto {
  background-color: #fff; }

/* Menu Resto */
.body__menu {
  font-family: "reboto", sans-serif;
  background: #f1f5f8;
  color: #102a42;
  line-height: 1.5;
  font-size: 0.875rem; }

/*Main Index */
.img-index {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%; }

.texto1 {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2.8rem;
  letter-spacing: 30px; }

.texto2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 5.5rem;
  letter-spacing: 60px; }

.texto3 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  font-family: cursive; }

.boton-c {
  position: absolute;
  top: 80%;
  left: 45%;
  color: #fff;
  background-color: black;
  border: 3px solid #999999;
  border-radius: 6px;
  height: 30px;
  padding: 20px 20px 35px 20px;
  transition: 1.2s; }
  .boton-c:hover {
    background-color: #919191;
    color: #fff; }

.txt-capacidad {
  display: grid;
  background-color: rgba(232, 230, 230, 0.5);
  height: 420px;
  color: #a5a5a5;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.18em;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  text-align: center; }
  .txt-capacidad img {
    grid-column: 2/3;
    grid-row: 1/3;
    height: 100%;
    padding: 0px;
    width: 100%; }
  .txt-capacidad h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    color: black;
    font-weight: 900;
    font-family: 'Inconsolata', monospace; }
  .txt-capacidad h3 {
    grid-row: 2/3;
    grid-column: 1/2; }

.contenido-index {
  background-color: rgba(232, 230, 230, 0.5);
  font-family: 'Inconsolata', monospace; }

.rooms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  height: 548px;
  letter-spacing: 0.3em; }
  .rooms img {
    width: 100%; }

.txt-rooms h2 {
  font-size: 3rem;
  font-weight: 10;
  color: #a5a5a5;
  font-family: 'Inconsolata', monospace;
  margin: 40px; }

.txt-rooms h3 {
  font-size: 3rem;
  font-weight: 900;
  margin-top: 45px; }

.txt-rooms h4 {
  font-size: 1rem;
  color: #a5a5a5;
  font-family: 'Inconsolata', monospace;
  margin-top: 50px; }

/*Mixin*/
.resto-index {
  background-color: rgba(232, 230, 230, 0.5);
  font-family: 'Inconsolata', monospace;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  height: 548px;
  letter-spacing: 0.3em; }

.txt-resto h2 {
  font-size: 3rem;
  font-weight: 10;
  color: black;
  font-family: 'Inconsolata', monospace;
  margin: 40px; }

.txt-resto h3 {
  color: #a5a5a5; }

.txt-resto h4 {
  font-size: 15px;
  color: black;
  font-family: 'Inconsolata', monospace;
  margin-top: 50px; }

.resto img {
  width: 100%; }

.bar {
  background-color: rgba(232, 230, 230, 0.5);
  font-family: 'Inconsolata', monospace;
  width: 100%;
  height: 700px; }

.contenido-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 400px;
  text-align: center;
  height: 548px;
  letter-spacing: 0.3em; }
  .contenido-bar img {
    height: 100%;
    width: 100%;
    margin-top: 63px; }

.txt-bar h2 {
  font-size: 3rem;
  font-weight: 10;
  color: #a5a5a5;
  font-family: 'Inconsolata', monospace;
  margin: 60px; }

.txt-bar h3 {
  font-size: 3rem;
  font-weight: 10;
  color: black;
  font-family: 'Inconsolata', monospace;
  margin: 40px; }

.txt-bar h4 {
  font-size: 15px;
  color: #a5a5a5;
  font-family: 'Inconsolata', monospace;
  margin-top: 50px; }

.final-txt {
  background-color: white;
  width: 100%;
  height: 400px;
  margin-top: -20px;
  text-align: center;
  letter-spacing: 3px; }
  .final-txt h3 {
    margin-top: 50px; }

.experiencias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  height: 548px;
  letter-spacing: 0.3em;
  background-color: rgba(232, 230, 230, 0.5);
  display: block; }
  .experiencias img {
    width: 100%;
    height: 70.5%; }

.txt-exp h2 {
  font-size: 3rem;
  font-weight: 10;
  color: #a5a5a5;
  font-family: 'Inconsolata', monospace;
  margin: 40px; }

.txt-exp h3 {
  font-size: 3rem;
  font-weight: 900;
  margin-top: 45px; }

/*Main galeria*/
.galeria .col-lg-4 {
  margin: 0 !important;
  padding: 15px; }

.galeria img {
  width: 100%;
  height: 260px; }

.galeria img:hover {
  border: 2px solid white; }

.text-center {
  color: white; }

/*Main formulario*/
.container-fluid {
  margin-left: auto;
  margin-right: auto; }

.ul__form {
  list-style: none;
  padding: 0; }

.logo {
  text-align: center;
  font-size: 3em; }
  .logo span {
    color: #B70E21; }

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }
  .contact-wrapper > * {
    padding: 1em; }

.contact-form {
  background: #222222; }
  .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .contact-form form label {
      display: block; }
    .contact-form form p {
      margin: 0;
      padding: 1em; }
    .contact-form form .block {
      grid-column: 1 / 3; }
    .contact-form form button {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      color: #fff;
      border-bottom: 1px solid #d63031;
      background: #B70E21;
      border: 0;
      text-transform: uppercase;
      padding: 1em; }
      .contact-form form button:hover {
        background: #d63031;
        color: #fff;
        transition: background-color 1s ease-out;
        outline: 0; }
      .contact-form form button:focus {
        background: #d63031;
        color: #fff;
        transition: background-color 1s ease-out;
        outline: 0; }
    .contact-form form input {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      color: #fff;
      border-bottom: 1px solid #d63031; }
    .contact-form form textarea {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      color: #fff;
      border-bottom: 1px solid #d63031; }

.contact-info {
  background: #000; }
  .contact-info h4 {
    text-align: center;
    margin: 0 0 1rem 0; }
  .contact-info ul {
    text-align: center;
    margin: 0 0 1rem 0; }
  .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0; }

.contact-info {
  background: #a12424; }
  .contact-info h4 {
    text-align: center;
    margin: 0 0 1rem 0; }
  .contact-info ul {
    text-align: center;
    margin: 0 0 1rem 0; }
  .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0; }

/* Main Restaurante*/
.main__resto {
  background-color: #ccc;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "img img img img" "img2 img2 txt txt" "img2 img2 txt txt" "rlx rlx rlx rlx"; }

.img__resto {
  grid-area: img; }
  .img__resto img {
    height: 600px; }

.contenido__resto {
  grid-area: img2; }
  .contenido__resto img {
    margin-top: 0px;
    width: 86%;
    height: 1200px; }

.txt__resto {
  grid-area: txt;
  margin-top: 20px;
  margin-left: 70px;
  width: 76%; }
  .txt__resto h1 {
    text-align: center;
    padding: 20px;
    font-size: 60px;
    color: #fff; }
  .txt__resto h2 {
    text-align: center;
    font-size: 2rem;
    color: #fff; }

.section__img img {
  width: 100%;
  height: 800px; }

/*Main Menu Resto*/
.menu-item img {
  width: 100%;
  display: block; }

.menu-item h1, h2, h3, h4 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "reboto", sans-serif; }

.menu-item h1 {
  font-size: 3rem; }

.menu-item h2 {
  font-size: 2rem; }

.menu-item h3 {
  font-size: 1.25rem; }

.menu-item h4 {
  font-size: 0.875rem; }

.menu-item p {
  margin-bottom: 1.25rem;
  color: #617d98; }

.menu {
  padding: 5rem 0; }

.title {
  text-align: center;
  margin-bottom: 2rem; }

.underline {
  width: 5rem;
  height: 0.25rem;
  background: #c59d5f;
  margin-left: auto;
  margin-right: auto; }

.filter-btn {
  background: transparent;
  border-color: #c59d5f;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  padding: 0.375rem 0.75rem;
  color: #c59d5f;
  cursor: pointer;
  transition: all 0.3s linear; }

.filter-btn:hover {
  background: #c59d5f;
  color: #fff; }

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center; }

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem; }

.photo {
  object-fit: cover;
  height: 200px;
  border: 0.25rem solid #c59d5f;
  border-radius: 0.5rem; }

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted #617d98; }

.item-info h4 {
  margin-bottom: 0.5rem; }

.price {
  color: #c59d5f; }

.item-text {
  margin-bottom: 0;
  padding-top: 1rem; }

/*footer Index*/
.footer-index {
  text-align: center;
  background-color: #221333;
  width: 100%;
  height: 250px;
  color: #fff;
  padding: 40px;
  height: 200px; }
  .footer-index h2 {
    margin-bottom: 20px;
    font-size: 3rem;
    font-size: 25px;
    margin-top: 30px; }

.footer-index h2 {
  margin-right: 25px; }

.contenedor-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr; }

.content-foo__mail {
  margin-left: 200px; }

.content-foo__numero {
  margin-left: 200px;
  margin-top: -20px; }

/* footer Restaurante*/
.footer__resto {
  height: 360px;
  text-align: center; }

.red-social__resto img {
  width: 100px;
  padding: 20px;
  transition: .7s; }
  .red-social__resto img:hover {
    width: 130px; }

.contenedor-foo__resto {
  display: flex; }

.txt-footer__resto {
  display: inline-block; }

/* footer Menu Resto*/
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px 100px 50px;
  margin-top: 80px; }

@media screen and (max-width: 800px) {
  .nav__resto {
    padding: 4px;
    text-align: left;
    padding-bottom: 40px;
    margin-top: 20px; }
  .contenedor-footer {
    display: none; }
  .red-social__index {
    width: 100%;
    display: flex;
    margin-top: 40px; }
  .red-social__index img {
    width: 80px; }
  .texto1, .texto2, .texto3 {
    display: none; }
  .textos-header__resto {
    text-align: left; }
    .textos-header__resto p {
      display: none; }
    .textos-header__resto h2 {
      text-align: center; }
  .img__resto {
    height: auto;
    width: 100%;
    grid-area: img; }
  .main__resto {
    display: block; }
  .contenido__resto img {
    width: 100%;
    height: 600px;
    margin-top: 1px; }
  .txt__resto h1 {
    font-size: 30px; }
  .txt__resto h2 {
    font-size: 20px; }
  .section__img img {
    height: 500px; }
  .footer__resto {
    height: 300px;
    height: 350px; }
    .footer__resto h2 {
      font-size: 1rem;
      font-weight: 900; }
  .header-index nav {
    font-size: 20px; }
  .redes-sociales {
    display: none; }
  .log {
    font-size: 20px;
    border: 1px solid white; }
  .texto1 h2 {
    font-size: 25px;
    letter-spacing: 20px; }
  .texto2 h1 {
    font-size: 30px;
    margin-top: 40px;
    letter-spacing: 20px; }
  .texto3 {
    display: none; }
  .div-boton {
    width: 100%; }
  .boton-c {
    display: none; }
  .txt-capacidad {
    width: 100%;
    height: 300px;
    display: block;
    height: 450px; }
    .txt-capacidad h2 {
      font-size: 30px;
      color: #a09f9f;
      letter-spacing: 0px;
      margin-right: 40px; }
    .txt-capacidad h3 {
      font-size: 15px;
      margin-bottom: 20px;
      letter-spacing: 7px;
      width: 86%;
      margin-left: 60px;
      margin-top: 20px; }
  .txt-arriba h3 {
    font-size: 23px;
    margin-top: 30px;
    height: 240px; }
  .rooms {
    display: block;
    font-size: 10px;
    letter-spacing: 0;
    margin-top: 95px;
    padding: 0; }
    .rooms img {
      margin-top: 76px; }
  .footer-index {
    height: 250px; }
  .txt-rooms h2 {
    margin-top: 10px; }
  .txt-rooms h3 {
    margin-top: -20px; }
  .resto-index {
    display: block;
    height: auto; }
  .txt-resto, .txt-resto h3 {
    margin-top: 140px; }
  .txt-bar h2 {
    font-size: 30px;
    grid-row: 3/3; }
  h3 {
    font-size: 30px;
    grid-row: 3/3; }
  h4 {
    font-size: 30px;
    grid-row: 3/3; }
  .bar {
    margin-bottom: 100px;
    height: 1000px; }
  .contenido-bar {
    display: block; }
    .contenido-bar img {
      margin-top: 159px;
      height: 350px; }
  .final-txt h3 {
    font-size: 20px; }
  .body-form {
    padding: 0 4em; }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
    .contact-wrapper > * {
      padding: 2em; }
  .contact-info h4 {
    text-align: left; }
  .contact-info ul {
    text-align: left; }
  .contact-info p {
    text-align: left; }
  .body-form {
    padding: 0 4em; }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
    .contact-wrapper > * {
      padding: 2em; }
  .contact-info h4 {
    text-align: left; }
  .contact-info ul {
    text-align: left; }
  .contact-info p {
    text-align: left; }
  .contact-wrapper {
    display: block; }
  .photo {
    height: 175px; } }

@media (min-width: 520px) {
  .section-img .contenedor-img {
    grid-template-columns: repeat(2, 50%);
    opacity: .5;
    border: 2px double #5c5c5c; }
  .nav-img a {
    font-size: 20px;
    text-align: left; }
  .hr-img h1 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: -60px; } }

@media screen and (max-width: 1200px) {
  .img__resto img {
    height: 100%; }
  .contenido__resto img {
    height: 100%; } }

@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr; }
  .photo {
    height: 150px; } }

@media screen and (max-width: 520px) {
  .body-index {
    font-size: 1rem; }
  .txt-capacidad {
    height: 450px; }
  .txt-capacidad h3 {
    width: 100%;
    letter-spacing: 2;
    margin: 0; }
  .txt-capacidad img {
    height: auto; }
  .bar {
    margin-bottom: 0; }
  .final-txt h3 {
    margin-top: 0; }
  .txt-exp {
    margin-top: 120px; }
    .txt-exp h2 {
      font-size: 30px; }
  .experiencias img {
    height: auto; }
  .footer-index {
    height: 250px; }
    .footer-index h2 {
      width: 100%;
      margin-top: 1px;
      font-size: 1rem; }
  .content-foo p {
    font-size: 12px; }
  .contenedor-foo__Resto p {
    margin-left: auto;
    font-size: 1rem; }
  .contenedor-foo__Resto h4 {
    font-size: 1rem;
    font-weight: 900; }
  .textos-header__resto p {
    margin-left: 0; }
  .topnav__menu {
    overflow: visible;
    display: flex; }
  .rooms {
    margin-top: 40px; }
  .contenido-bar img {
    margin-top: 1px; }
  .bar {
    height: 780px; } }

@media screen and (min-width: 800px) {
  .body__form {
    padding: 0 4em; }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .contact-wrapper > * {
    padding: 2em; }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left; } }
